{{menu-bar}}


<header>Please, type the description of new link</header>

<label>Type the long URL:</label>
<br>

{{input class="new-u" id="new-url" placeholder="http://" value=newUrl }}

<br>
<br>
<label>Give some words for the URL's description</label>	
<div id = "input">

{{input class="edit-d" id="new-desc" placeholder="description" value=newDesc }}
	
</div>
	<br>
<label>Tags for this link:</label>	
<div id = "input">
{{input class="edit-t" id="new-tag1" placeholder="tag1" value=newTag1 }}
{{input class="edit-t" id="new-tag2" placeholder="tag2" value=newTag2 }}
{{input class="edit-t" id="new-tag3" placeholder="tag3" value=newTag3 }}
{{input class="edit-t" id="new-tag4" placeholder="tag4" value=newTag4 }}
{{input class="edit-t" id="new-tag5" placeholder="tag5" value=newTag5 }}

</div>
	<br>
	
	<button {{action "sendNewUrl"}}><strong>Get short link!</strong></button>
	
	
	<br>
